@font-face {
	font-family: 'Kongtext';
	src: url('/_nuxt/fonts/KongtextRegular.eot');
	src: url('/_nuxt/fonts/KongtextRegular.eot?#iefix')
			format('embedded-opentype'),
		url('/_nuxt/fonts/KongtextRegular.woff2') format('woff2'),
		url('/_nuxt/fonts/KongtextRegular.woff') format('woff'),
		url('/_nuxt/fonts/KongtextRegular.ttf') format('truetype'),
		url('/_nuxt/fonts/KongtextRegular.svg#KongtextRegular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
