@font-face {
	font-family: 'Kongtext';
	src: url('./KongtextRegular.eot');
	src: url('./KongtextRegular.eot?#iefix') format('embedded-opentype'),
		url('./KongtextRegular.woff2') format('woff2'),
		url('./KongtextRegular.woff') format('woff'),
		url('./KongtextRegular.ttf') format('truetype'),
		url('./KongtextRegular.svg#KongtextRegular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
